

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #e7e3e3;
}

header {
  background-color: #aca4a4;
  color: #fff;
  padding: 10px;
}

nav{
	display: flex;
	justify-content: space-between;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav li {
  margin-right: 20px;
}

.top-nav a {
  color: #0e0505;
  text-decoration: none;
}

 
 .btn-primary{
	background-color:rgb(8, 173, 250);
	
	height: 2rem;
	width: 5rem;
	border-radius: rem;
	border: none;
	margin-top: 1rem;
	color: white;
 }
 .box{
	display: flex;
	flex-direction: row;
	/* width: 648; */
	/* height: 80px; */
	gap: 12px;
	margin: 14px;}

 .box-detail{
	padding: 30px;
	background-color:rgba(202, 158, 241, 0.5); 
 }

	
	

	.box-numbers{
		 font-size:large;
	}
 .box-info{
	font-size: small;
 }
 .photo img{
	
	border-radius: 5%;
	
    border-radius: 5%;
    height: rem;
    /* width: 20rem; */
 }
	
 
	


.left{
	margin: auto;
}

.circle{
	height: 2rem;
	width: 2rem;
	background-color: rgb(8, 173, 250);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.user-info{
	/* font-size: 50px; */
	/* margin-left: 10rem; */
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: rgb(218, 212, 212);
	padding: 2rem 10rem 2rem 5rem;
}

#name{
	font-size: 3rem;
	font-weight: 700;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	/* width: 578px; */
/* height: 168px; */

/* Display */

font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
/* font-size: 72px;
line-height: 84px; */
/* or 117% */


/* Gray/900 */

color: #132238;

}
#intro{
	/* width: 648px; */

/* Body/Large/400 */

font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
/* or 133% */


color: #556070;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;

}
.left-div{
	background-color: rgb(218, 212, 212);
	padding: 3rem;
}
.myself{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: rgb(218, 212, 212);
	padding:  3rem 10rem 2rem 11rem;
	
	
}



	.heading{
		/*font-size: 3rem;*/
		font-weight: 700;
		font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
		


	}
	
	
	
	.cv{
		box-sizing: border-box;
		

	}
.what-i-do-section{
		display: flex;
align-items:center ;
gap: 1px;
padding:  3rem 10rem 2rem 12rem;



/* Gray/50 */

/* background: #F0F1F3; */

/* Inside auto layout */
	}
	.wid-left{
		
		/* width: 254px; */
height: px;

/* Heading/01 */

font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 56px;
/* identical to box height, or 117% */


color: #333333;
	}
	.whatidopar{
		/* width: 529px; */


/* Body/Large/400 */

font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
margin-bottom: 5rem ;
padding: 4rem;
/* or 133% */


/* Gray/400 */

color: #87909D;

	}
	

	.hellobtn{
		/* width: 78px; */
height: px;
background-color:rgb(8, 173, 250);

/* Body/Regular/600 */

font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
	}
	.right{
		display:flex;
		flex-direction:column;
		/* width: 648; */
		height: px;
		gap: 12px;
		margin: 40px;
		float:right;
	}
	.whatidocard{
		display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 32px;
gap: 16px;
/* isolation: isolate; */

/* width: 648px; */
height: px;

background: #FFFFFF;
box-shadow: 0px 32px 96px rgba(28, 25, 25, 0.16);
border-radius: 6px;
	}


	.whatidocard2{
		display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 32px;
gap: 16px;

/* width: 648px; */
height: px;

background: #FFFFFF;
border-radius: 6px;


	}

	.whatidocard3{
		display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 32px;
gap: 16px;

/* width: 648px; */
height: px;

/* Gray/White */

background: #FFFFFF;
border-radius: 6px;

	}

	.footer-nav a{
color: white;
text-decoration: none;

	}
	.last{
		display: flex;
	gap: 5px;
	align-items: center;
	margin: 2rem;
	color: white;
	}
	.finish{
		display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 2rem;
color: white;
flex-wrap: wrap;
/* gap: 182px; */

/* Gray/800 */

background: #2B384C;
	} 

	.contact {
		background-color: #f1f1f1;
		padding: 3rem 10rem 2rem 12rem
		;
		margin-top: 50px;
	  }
	 
	  
	  .contact h2 {
		font-size: 24px;
		margin-bottom: 20px;
	  }
	  
	  .contact form {
		/* display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 20px;
		grid */
	  }
	  
	  .contact label {
		font-weight: bold;

	  }

	  .form-input-div{
		display: flex;
	  }
	  
	  .form-input{
		
		margin-left:2rem;
	  }
	  .contact input,
	  .contact textarea {
		width: 100%;
		padding: 9px;
		border: none;
		border-radius: 4px;
		box-shadow: none;
		font-size: 16px;
		margin-right: px;
	  }
	  
	  .contact textarea {
		height: 120px;
	  }
	  
	  .contact button[type="submit"] {
		background-color:rgb(8, 173, 250);
		color: #fff;
		border: none;
		border-radius: 4px;
		padding: 10px 20px;
		cursor: pointer;
		font-size: 16px;
		transition: background-color 0.3s ease;
	  }
	  
	  .contact button[type="submit"]:hover {
		background-color: #3e8e41;
	  }


	  @media screen and (max-width:768px) {
		.user-info{
			display: block;
			padding:2rem;
		}

		.left-div{
			padding:0;
		}
		.box{
			display: block;
		}

		.box-detail{
			
			margin-bottom: 2rem;
		}
		.myself{
			display: block;
			padding: 4rem;
		}
		.what-i-do-section{

		}
		.contact{
			display: block;
		}
	  }
	  @media screen and (max-width:426px){
.contact{
	padding: 0;
}
.what-i-do-section{
	display: block;
}
	  }
	  @media screen and (max-width:391px){
		.what-i-do-section{
			display: block;
			padding: 1rem 1rem 1rem 1rem
		}
    .heading{
		font-size:;
	}
	.wid-left{
		margin-bottom: 1rem;
		padding: ;
	}
	.right{
		margin-top: 7rem;
	}
	.form-input{
		margin-right: 1rem;
	}
	.contact{
		padding: 2rem;
	}


	  }

	  @media screen and (max-width:321px){
		.finish li{
			font-size: 10px;

		}
		.finish p{
			font-size: 10px;
			
		}
	  }